@font-face {
  font-family: ibm-plex-sans;
  src: url('../font/IBMPlexSans-Regular.ttf');
}

body {
  font-family: ibm-plex-sans, sans-serif;
  font-family: Vazirmatn, sans-serif;
  text-align: right; /* Aligns text to the right */
  direction: rtl;
}

* {
  direction: inherit; /* Inherit direction from parent */
  text-align: inherit; /* Inherit text alignment from parent */
}

h1 {
  margin-bottom: 1rem;
}

hr {
  border-top: 1px solid #e0e0e0;
  border-bottom: none;
  margin: 1.5rem 0 1rem;
}

.red {
  color: red;
}

.alert-error {
  margin-bottom: 1rem;
}

.cds--btn {
  width: 100%;
}

.cds--form-item {
  margin-bottom: 0.5rem;
}

.cds--form-item > div {
  width: 100%;
}

.cds--input__field-outer-wrapper {
  width: 100%;
}

.pf-c-form__label, .pf-c-form__label-text, .cds--label {
  font-family: Vazirmatn, sans-serif;
  direction: rtl;
}

.input-label-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input-label-row a {
  margin-bottom: 0.5rem;
  font-family: Vazirmatn, sans-serif;
  direction: rtl;
}

.login-box {
  max-width: 20rem;
  margin: 10rem auto;
  font-family: Vazirmatn, sans-serif;
  direction: rtl;
}

.social-providers ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cds--link {
  display: block;
}

.cds--form-requirement p {
  font-size: inherit;
}

#kc-header-wrapper {
  display: none;
}

#kc-form-buttons {
  margin-top: 1rem;
}

#kc-registration {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

#kc-social-providers ul a {
  margin-top: 1rem;
}
